body {

  height: 100vh;
  background-color: #ffffff;
  display: block;
}

.dark-mode {
  background-color: black;
  /* background-image: url('758b.gif');
background-position: center;
background-repeat: no-repeat; */
  background-size: cover;
  transition: 0.5s;

  color: rgb(65, 255, 2);

}

#name {
  text-transform: uppercase;
  font-size: 76px;
  margin-top: 150px;
  font-family: 'Merienda';
  text-shadow: 0px 1px 17px rgba(0, 164, 0, 1);
  transition-duration: 2s;
  padding-top: 100px;

}

#time {
  padding-top: 30px;

  font-size: 45px;
  margin-bottom: 15%;
  text-align: center;
  height: 60px;
  text-shadow: 0px 1px 17px rgba(0, 164, 0, 1);
  transition-duration: 2s;
}

#intro {
  position: absolute;
  /* margin-top: 50px; */
  margin-top: 10%;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#div01 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#switch {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toogle {
  cursor: pointer;
  width: 200px;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  margin-bottom: 27rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 100px;
  position: relative;
  box-shadow: 0px 1px 17px rgba(0, 164, 0, 1);
  border: 5px solid rgb(75, 255, 4);
}

.toogle::after {
  /* margin-top: 50%; */
  content: '';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background-color: #057b95;
  border-radius: 90px;
  transition: 0.5s;
}

#message {
  display: flex;
  width: 100%;
  display: flex;
}

#msg {
  font-size: 50px;
  text-align: center;


}



input:checked+label {

  background-color: #000000;


}

input:checked+label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

button {
  background-color: #ffffff;
}

li {
  list-style: none;
}

li svg {

  padding: 25px;
  margin-top: 263px;
}

@media (max-width:800px) {
  #time {
    font-size: 20px;
    padding: 8px;
  }

  #name {
    margin-top: 350px;
  }
}